# IDE files
.idea/

# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Working dir for tool
taida/workDir/

# File Used to determine if npm dependencies are up-to-date
installVersion.txt

# Directory created by dartdoc
doc/api/

# Directory created by npm dependencies
node_modules
package.json
package-lock.json
